const firebaseConfig = {
  apiKey: "AIzaSyBwG_sOHHbCBbmR9hCjdqbXfpdrUG0VuKs",
  authDomain: "avid-airway-344708.firebaseapp.com",
  databaseURL: "https://avid-airway-344708-default-rtdb.asia-southeast1.firebasedatabase.app",
  projectId: "avid-airway-344708",
  storageBucket: "avid-airway-344708.appspot.com",
  messagingSenderId: "516043135309",
  appId: "1:516043135309:web:3a382fdbd083d9f064ff04"
};